<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<header>
     <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
        <a class="nav-link text-white active h5" href="/">Andrey's</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">

                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h6" href="/user/login">Login</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h6" href="/user/register" >Register</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container bg-gray p-3 rounded  text-center mt-5">
        <h1>Welcome to Andrey's</h1>
        <hr class="my-3"/>
        <p class="h4">On our website you will find the best clothes to match your style.</p>
        <hr class="my-3"/>
        <h3>
            <a class="text-primay" href="/user/login">Login</a>
            if you have an account or
            <a class="text-primay" href="/user/register">Register</a>
            now and check our deals.
        </h3>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
