<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
    <main >
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark" >Login</span></h1>
        <hr class="hr-3"/>
        <form th:object="${user}" class="mx-auto w-25 bg-dark bg-gray p-3 rounded" action="/user/login" method="POST">
<!--            <h6 th:if="${notFound}" class="text-center bg-dark text-danger">Wrong username</h6>&ndash;&gt;-->
            <h4 th:if="${error}" th:text="${error}" class="text-center bg-dark text-danger">Wrong username or password</h4>
			<h6 th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-center bg-dark text-danger">Wrong username</h6>
			<h6 th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-center bg-dark text-danger">Wrong username</h6>
<!--			<h6 class="text-center bg-dark text-danger">Wrong password</h6>-->
            <div class="form-group">
                <div class="label-holder text-white d-flex justify-content-center">
                    <label for="username" class="h3 mb-2">Username</label>
                </div>
                <input th:field="*{username}" th:errorclass="bg-danger" type="text" class="form-control" id="username" name="username"/>
            </div>
            <div class="form-group">
                <div class="label-holder text-white d-flex justify-content-center">
                    <label for="password" class="h3 mb-2">Password</label>
                </div>
                <input th:field="*{password}" th:errorclass="bg-danger"  type="password" class="form-control" id="password" name="password" />
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-secondary text-white mb-3">Login</button>
            </div>
        </form>
    </main>
   <th:block th:include="~{fragments/footer}"/>
</body>
</html>
