<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<main class="main">
    <th:block th:include="~{fragments/header}"/>
    <div class="container-fluid">
        <h2 class="text-center text-white">Register Seller</h2>

        <form class="mt-lg-5 w-15 h-50" action="/users/register" method="POST">
            <div class="row">
                <div class="col col-md-12">
                    <div class="form-group">
                        <div class="label-holder d-flex justify-content-center">
                            <label class="text-center text-white font-weight-bold" for="username">Enter Username
                                <input type="text" class="form-control" placeholder="Username" name="username"
                                       id="username">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12">
                    <div class="form-group">
                        <div class="label-holder d-flex justify-content-center">
                            <label class="text-center text-white font-weight-bold" for="firstName">Enter First Name
                                <input type="text" class="form-control" placeholder="First name" name="firstName"
                                       id="firstName">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12">
                    <div class="form-group">
                        <div class="label-holder d-flex justify-content-center">
                            <label class="text-center text-white font-weight-bold" for="lastName">Enter Last Name
                                <input type="text" class="form-control" placeholder="Last Name" name="lastName"
                                       id="lastName">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12">
                    <div class="form-group">
                        <div class="label-holder d-flex justify-content-center">
                            <label class="text-center text-white font-weight-bold" for="imageUrl">Enter image URL
                                <input type="text" class="form-control" placeholder="Image url" name="imageUrl"
                                       id="imageUrl">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12">
                    <div class="form-group">
                        <div class="label-holder d-flex justify-content-center">
                            <label class="text-center text-white font-weight-bold" for="password">Enter Password
                                <input type="password" class="form-control" placeholder="Password" name="password"
                                       id="password">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12">
                    <div class="form-group">
                        <div class="label-holder d-flex justify-content-center">
                            <label class="text-center text-white font-weight-bold" for="confirmPassword">Enter Confirm Password
                                <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword"
                                       id="confirmPassword">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12">
                    <div class="form-group ">
                        <div class="label-holder d-flex justify-content-center">
                            <label class="text-center text-white font-weight-bold" for="role">Enter User Type
                                <select id="role" name="role" class="form-control">
                                    <option value="BUYER">Buyer</option>
                                    <option value="SELLER">Seller</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-4">
                </div>
                <div class="col col-md-4">
                    <div class="button-holder d-flex justify-content-center">
                        <input type="submit" class="btn btn-secondary" value="Register"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
</body>
</html>
