<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/menu}"/>
    <div class="container">
        <h2 class="text-center text-white m-3">All Brands</h2>
        <div class='row mb-4 d-flex justify-content-around'>
            <div th:each="brand, brandStat : ${brands}" class="brand-section col-md-5 mr-auto d-flex flex-column">
                <h2>Car brand:
                    <span th:text="${brand.getName()}"></span>
                </h2>
                <div>Models:
                    <table>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Start Year</th>
                            <th>End Year</th>
                            <th>Picture</th>
                        </tr>
                        <tr th:each="model, modelStat : ${brand.getModels()}">
                            <th th:text="${modelStat.index + 1}">No</th>
                            <th th:text="${model.getName()}">Model Name</th>
                            <th th:text="${model.getCategory()}">Model Category</th>
                            <th th:text="${model.getStartYear()}">Model Start Year</th>
                            <th th:text="${model.getEndYear()}">Model End Year</th>
                            <th><img th:src="${model.getImageUrl()}" class="img-thumbnail rounded"></th>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
   
	<div>
	<!--    <footer>Create your custom footer :)</footer>-->
	</div>

</body>
</html>
